body {
    background-color: rgba(173, 170, 170, 0.861);
    margin: 20px 20px;
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
}

nav > a {
    color: red;
    transition: color .5s ease-in-out;
}

nav > a:hover {
    color: maroon;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav>a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

small {
   display: block;
   margin-top: 20px;
}

h1 {
    font-family: Gill Sans, sans-serif;
}

.name {
    text-align: center;
    font-family: Optima, sans-serif;
}

figure {
    text-align: center;
}

img {
    height: 380px;
    width: 320px;
}

#myimage {
    border: 2px solid black;
}

figcaption {
    font-style: italic;
    text-align: center;
}

ul {
    margin: 0 200px;
}

.external-links {
    padding-top: 10px;
}

#intro-links {
    padding-top: 10px;
    text-align: center;
}

li {
    font-weight: bold;
}
 
.intro-descriptions {
    display: inline;
    font-weight: normal;
}

.courses {
    margin-left: -150px;
}

.divider {
    margin: 8px auto;
    width: 100%;
    border-bottom: 1px solid black;
}

small {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.icons {
    width: 30px;
    height: 30px;
}

#lower-nav {
    border-bottom: 2px solid black;
}

#upper-nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.grid-icon {
    width: 30px;
    height: 30px;
}