html, body {
    box-sizing: border-box;
    padding: 0;
    background-color: lightgray;
}

header {
    border-bottom: 3px solid black;
}

h1 {
    margin-left: 20px;
    font-family: Palatino, serif;
}

h2 {
    text-align: center;
    font-family: New Century Schoolbook, sans-serif;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
}

a > ul > li {
    color: black;
    font-style: normal;
}

div {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: darkgoldenrod;
    font-family: Georgia, serif;
}

div:nth-child(1) a {color: red;}
div:nth-child(2) a {color: orange;}
div:nth-child(3) a {color: yellow;}
div:nth-child(4) a {color: green;}

div a:hover {
    color: black;
    transition: color .8s ease-in-out;
}

a:hover {
    color: goldenrod;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    margin: 20px 20px;
}

.gridicon {
    width: 30px;
    height: 30px;
}

@media (max-width: 400px) {
    header, main, footer {
        display: block;
        margin: 0 auto;
        word-wrap: break-word;  
        overflow-x: auto;      
    }
}

@media (max-width: 600px) {
    nav {
        display: block;
    }
}

