<header>
    <div id="upper-header">
        <a id="title" href="index.html"><h1>A Curious Niner</h1></a>
        <div id="search-bar"> 
            <p>Search for a language:</p>
            <input id="search" type="text">
            <button id="submit-search">Submit</button>
        </div> 
    </div>
    <nav>
        <a href="about.html">About</a>
        <a href="index.html">Home</a>
        <a href="htmlBasics.html">HTML</a>
        <a href="cssBasics.html">CSS</a>
        <a href="jsBasics.html">JavaScript</a>
    </nav>
</header>