<footer>
    <nav class="external-links">
        <a href="https://www.charlotte.edu/">Charlotte.edu</a>
        ||
        <a href="https://github.com/andrewhausler?tab=repositories"><img class="icons" src="./images/github-brands.svg" alt="GitHub Icon"></a>
        ||
        <a href="https://andrewhausler.github.io/">GitHub.io</a>
        ||
        <a href="https://andrewhausler.github.io/itis3135/">ITIS3135.io</a>
        ||
        <a href="https://www.freecodecamp.org/Andrew_Hausler"><img class="icons" src="./images/free-code-camp-brands-solid.svg" alt="freeCodeCamp Icon"></a>
        ||
        <a href="https://www.codecademy.com/profiles/Andrew_Hausler">Codecademy</a>
        ||
        <a href="https://www.linkedin.com/in/andrew-hausler-b64b09324/"><img class="icons" src="./images/linkedin-brands.svg"></a>
    </nav>
    <small>Designed by <a href="../hauslerenterprises.com/">Hausler Enterprises</a> &copy; 2025, <i><a href="https://www.freecodecamp.org/certification/Andrew_Hausler/responsive-web-design" alt="LinkedIn Icon">Certified in Responsive Web Design</a></i></small>
</footer>