<header>
    <h1> Andrew Hausler's Artificial Hellbender || ITIS3135 </h1>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="hauslerenterprises.com/">Hausler Enterprises</a>
        ||
        <a href="../artificial-hellbender-tuning/">Artificial Hellbender Tuning</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
        ||
        <a href="stuff/S P! A M^@.htm">CRAP Website</a>
    </nav>
</header>