<header>
    <h1> Andrew Hausler's Artificial Hellbender || ITIS3135 </h1>
    <nav id="upper-nav">
        <p class="nav-spacer">::</p>
        <a href="./">Home</a>
        <p class="nav-spacer">::</p>
        <a href="introduction.html">Introduction</a>
        <p class="nav-spacer">::</p>
        <a href="contract.html">Contract</a>
        <p class="nav-spacer">::</p>
        <a href="hauslerenterprises.com/">Hausler Enterprises</a>
        <p class="nav-spacer">::</p>
        <a href="../artificial-hellbender-tuning/">Artificial Hellbender Tuning</a>
        <p class="nav-spacer">::</p>
        <a href="website_evaluations.html">Website Evaluations</a>
        <p class="nav-spacer">::</p>
        <a href="tables.html">Tables</a>
        <p class="nav-spacer">::</p>
        <a href="project_overview.html">Project Overview</a>
        <p class="nav-spacer">::</p>
        <a href="byo_intro.html">BYO Intro</a>
        <p class="nav-spacer">::</p>
        <a href="slideshow.html">Slideshow</a>
        <p class="nav-spacer">::</p>
    </nav>
    <nav id="lower-nav">
        <p class="nav-spacer">::</p>
        <a href="stuff/S P! A M^@.htm">CRAPPY</a>
        <p class="nav-spacer">::</p>
        <a href="hobby/">Hobby</a>
        <p class="nav-spacer">::</p>
    </nav>
</header>