<header>
    <h1> Andrew Hausler's Artificial Hellbender || ITIS3135 </h1>
    <nav id="upper-nav">
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="./">Home</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="introduction.html">Introduction</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="contract.html">Contract</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="hauslerenterprises.com/">Hausler Enterprises</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="../artificial-hellbender-tuning/">Artificial Hellbender Tuning</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="website_evaluations.html">Website Evaluations</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
    </nav>
    <nav id="lower-nav">
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
        <a href="stuff/S P! A M^@.htm">CRAPPY</a>
        <img class="grid-icon" src="./images/grip-vertical-solid.svg">
    </nav>
</header>